*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:#1F262E;
flex-direction: column;
}
form{
  width: auto;
  height: auto;
  padding: 10px;
  box-shadow: inset 8px 16px #00000000,inset -8px 8px 16px #000 ;
  border-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  width: 100%;
  height: 30px;
  color: #fff;
}
input{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #1edcbf;
  margin: 10px;
  background-color: #fff;
}
select{
  width: 100%;
  height: 40px;
border-radius: 20px;
  background-color: #ffffffff;
  border:2px solid #1edcbf;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  border:none; 
  background:#3e1edc;
}
button:hover{
  background:#8178aa;
  color: ghostwhite;
  font: bold;
}
option{
  width: ghostwhite;
  border-radius: 20px;
}