:root{
 --text-colour:rgb(245,247,248);
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgb(153,164,170);
  padding: 20px;
  width: 80%;
  border-radius: 1em;
  background-color: rgba(108,168,180,0.231);
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav{
  width: 100%;
}
form.show {
  transform: scale(1);
  opacity: 1;
}
form button{
  width: 100%;
  height: 40px;
  border: none;
  color: var(--text-colour);
  box-shadow: 1px 2px 4px rgb(218,223,226);
  background-color:rgb(23,197,177);
  margin: 10px;
  border-radius: 10px;
  
}
form button:hover{
  border: 2px solid  rgb(23,197,177);
  background-color: black;
  border-radius: 6px;
}
form :last-child{
  background-color: grey;
  color: var(--text-colour);
}
form :last-child:hover{
  background-color: rgb(23,197,177);
  color: var(--text-colour);
  font-weight: bold;
  border: 2px solid  yellow;
}
#showmune{
  width: 40%;
  height: 30px;
  border-radius: 8px;
  box-shadow: 3px 4px 5px rgb(162,165,165);
  border: none; 
  background-color: red;
  color: var(--text-colour);
  font-weight: bold;
  margin: 10px;
}